<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="patch" th:action="@{/admin/{id}(id = ${user.getId()})}" th:object="${user}">

    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>

    <br>

    <select th:field="*{roles}" multiple>
        <option value="1" disabled>select role</option>
        <option th:each="myRole : ${roleList}" th:value="${myRole.id}" th:text="${myRole}"></option>
    </select>

    <br>

    <label for="password">Password: ********* </label>
    <input type="text" id="password" th:field="*{password}" hidden/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">username error</div>

    <br>

    <input type="submit" value="Update"/>

</form>
</body>
</html>